.cart-icon {
  margin-left: 10%;
  position: relative;

  img {
    width: 50px;
  }

  .items-counter {
    content: '1';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -5px;
    bottom: -3px;
    background-color: #17b2ce;
    width: 1.3em;
    height: 1.3em;
    border-radius: 50%;
    color: white;
    font-weight: bold;
  }
}
